@tailwind base;
@tailwind components;
@tailwind utilities;

/* architects-daughter-regular - latin */
@font-face {
    font-family: 'Architects Daughter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.eot')
        format('embedded-opentype'),
      url('../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff2')
        format('woff2'),
      url('../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.woff')
        format('woff'),
      url('../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.ttf')
        format('truetype'),
      url('../public/fonts/ArchitectsDaughter/architects-daughter-v17-latin-regular.svg')
        format('svg');
  }
  
  /* BowlbyOneSC/-sc-regular - latin */
  @font-face {
    font-family: 'Bowlby One SC';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.eot')
        format('embedded-opentype'),
      url('../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff2') format('woff2'),
      url('../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.woff') format('woff'),
      url('../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.ttf') format('truetype'),
      url('../public/fonts/BowlbyOneSC/bowlby-one-sc-v19-latin-regular.svg') format('svg');
  }
  let developers = team.filter(member => member.position == 'developer') .headingA {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    font-family: 'Architects Daughter';
  }

  body  {
    font-family: 'Architects Daughter'
  }

  .headingB {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffcc00;
    font-family: 'Architects Daughter';
  }
  
  .headingC {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    font-family: 'Architects Daughter';
  }
  
  .headingD {
    -webkit-text-stroke-width: 0.66px;
    -webkit-text-stroke-color: #595959;
    font-family: 'Architects Daughter';
    font-weight: extrabold;
  }
  
  .headingE {
    -webkit-text-stroke-width: 7.99px;
    -webkit-text-stroke-color: #595959;
    font-family: 'Bowlby One SC';
    font-weight: extrabold;
  }
  
  .headingF {
    -webkit-text-stroke-width: 5.9px;
    -webkit-text-stroke-color: #fffffc;
    font-family: 'Bowlby One SC';
    font-weight: extrabold;
  }
  
  .shape-lighthouse {
    shape-margin: 80px;
    width: 30vw;
    height: 65vh;
    float: left;
    shape-outside: url('/lighthouse3.png');
  }
  
